<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table *ngIf="dataLoaded==true" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Araç No</th>
        <th>Müşteri No</th>
        <th>Kiralama Tarihi</th>
        <th>İade Tarihi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.carId}}</td>
        <td>{{rental.customerId}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
      </tr>
    </tbody>
  </table>
